
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
    <!-- This is not working! -->
    <!-- UndefinedError: 'melon' is undefined -->
    {% for melon_id in melon_ids %}
    {% with melon = melon.get_by_id(melon_id) %}
        <tr>
            <td>{{ melon.common_name }}</td>
            <td>{{ melon_ids[id] }}</td>
            <td>{{ melon.price_str() }}</td>
            <td>{{ melon_ids[id] * melon.price }}</td>
        </tr>
    {% endwith %}
    {% endfor %}
    <!-- End not working section -->
    </table>

    <h3>Total: $27.00</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
